# 상관분석 연구과제

> 아래 문제의 모든 데이터셋은 정규성과 등분산성을 충족한다고 가정한다.

## 문제 1

다음 자료는 야구팀의 홈런수와 타율에 관한 자료이다. 홈런수와 평균타율이 상관관계가 있는지 그 관련성을 분석하라.

![](res/q01.png)

> https://data.hossam.kr/mldata/baseball.xlsx

In [7]:
import warnings
warnings.filterwarnings(action='ignore')

import sys
import seaborn as sb
from math import sqrt
from matplotlib import pyplot as plt
from pandas import read_excel, melt
from scipy.stats import t, normaltest, bartlett, levene, f_oneway, ttest_ind, shapiro, pearsonr
from pandas import pivot_table

# 분산분석을 위한 라이브러리
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.oneway import anova_oneway # 등분산이 아닐 때: welch 검정

# 사후검정을 위한 라이브러리
from statsmodels.sandbox.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from pingouin import anova, welch_anova, pairwise_gameshowell, pairwise_tukey

In [3]:
origin = read_excel("https://data.hossam.kr/mldata/baseball.xlsx")
origin.head()

   홈런수   평균타율
0  174  0.277
1  163  0.276
2  161  0.272
3  230  0.272
4  214  0.269

In [5]:
corr = origin.corr(method = 'pearson')
corr

           홈런수      평균타율
홈런수   1.000000 -0.074695
평균타율 -0.074695  1.000000

## 문제 2

어떤 원료의 품질특성($x$)과 이 원료를 사용하여 만든 제품의 품질특성($y$)에 관한 조사를 한 결과 다음 데이터를 얻었다.

이들 간 상관관계를 구하고 상관 유무 검정을 유의수준 `5%`에서 실시하라.

![](res/q02.png)

> https://data.hossam.kr/mldata/product.xlsx


## 문제 3

다음은 학생들에 대한 공부 시간과 성적 데이터이다. 분석하라.

![](res/q03.png)

> https://data.hossam.kr/mldata/study_time.xlsx